@import url(https://fonts.googleapis.com/css?family=Poppins);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url(https://i.pinimg.com/736x/92/2f/3c/922f3c7472f5406f5db52dd64ab7e946.jpg) no-repeat;
        background-size: cover;
        background-position: center;
     
     
     }

     .top-text {
        text-align: center;
        padding: 20px 0;
        position: absolute; /* Set the position to absolute */
        top: 80px; /* Adjust the top value to move the text vertically */
        left: 560px; /* Adjust the left value to move the text horizontally */
        font-size: 15px;
        color: #fff;
        
      }

      .top-text h2 {
        opacity: 0; /* Set initial opacity to 0 for fade-in effect */
        animation: fadeInText 1s ease 1s forwards; /* Add fade-in animation */
      }
      
      @keyframes fadeInText {
        from {
          opacity: 0;
          transform: translateY(-10px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

     

     header {
        position: fixed;
        top: 0;
        left: 0px;
        width: 100%;
        padding: 20px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
        background: transparent;
        backdrop-filter: blur(20px);
    
    }

    .logo {
        font-size: 1.3em;
        color: rgb(255, 255, 255);
        user-select: none; 
        left: 600px;
    }

    .navigation a {
        position: relative;
        font-size: 1.1em;
        color: aliceblue;
        text-decoration: none;
        font-weight: 500;
        margin-left: 40px;
    
    }
    
    .navigation a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        transform: scaleX(0);
        transition: transform .5s;
    
    }
    
    .navigation a:hover::after {
        transform-origin: left;
        transform: scaleX(1);
    }
    
    .navigation .btnLogin-popup {
        width: 130px;
        height: 50px;
        background: transparent;
        border: 2px solid #fff;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.1em;
        color: #fff;
        font-weight: 500;
        margin-left: 40px;
        transition: .5s;
    }

    .navigation .btnLogin-popup:hover {

        background: #fff;
        color: #162938;
    
    }



    #loanTable {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.7em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        position: absolute;
        top: 150px;
        left: 60px;
        max-height: 300px; /* Adjust the max-height to control when scrolling appears */
        overflow-y: auto; /* Use overflow-y instead of overflow to specifically control vertical scrolling */
    }
    
    #loanTable thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }
    
    #loanTable th,
    #loanTable td {
        padding: 10px 5px;
        
    }
    
    #loanTable tbody tr {
        backdrop-filter: blur(50px);
        background: transparent;
    }
    
    #loanTable tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    
    #loanTable tbody tr:last-of-type {
        background: transparent;
    }
    
    #loanTable tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }

.welcomeUsername {
    font-size: 2em;
        color: rgb(255, 255, 255);
        user-select: none; 
}

#paymentTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.7em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 150px;
    left: 830px;
    max-height: 300px; /* Adjust the max-height to control when scrolling appears */
    overflow-y: auto; /* Use overflow-y instead of overflow to specifically control vertical scrolling */
}

#paymentTable thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

#paymentTable th,
#paymentTable td {
    padding: 7px 10px;
    
}

#paymentTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

#paymentTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#paymentTable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#paymentTable tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

